- @selected = :stylesheets
- @title = 'Stylesheets - Radiant CMS - Publishing for Small Teams'

= render 'toolbar'

.outset
  %table.index#stylesheets
    %thead
      %tr
        %th.name Stylesheet
        %th.actions{:style=>"width:9em"} Modify
    %tbody
      %tr.stylesheet#stylesheet_1
        %td.name
          %img{:title=>"", :src=>"/images/admin/stylesheet.png", :alt=>""}/
          %a{:href=>"/admin/stylesheets/edit", :title=>"/stylesheets/print.css"} print.css
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/stylesheets/remove", :class=>"action popup"
      %tr.stylesheet#stylesheet_2
        %td.name
          %img{:title=>"", :src=>"/images/admin/stylesheet.png", :alt=>""}/
          %a{:href=>"/admin/stylesheets/edit", :title=>"/stylesheets/screen.css"} screen.css
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/stylesheets/remove", :class=>"action popup"
      %tr.stylesheet#stylesheet_3
        %td.name
          %img.icon{:title=>"", :src=>"/images/admin/stylesheet.png", :alt=>""}/
          %a{:href=>"/admin/stylesheets/edit", :title=>"/stylesheets/shared.css"} shared.css
        %td.actions
          = link_to image('minus.png') + " Remove", "/admin/stylesheets/remove", :class=>"action popup"